---
import ButtonCounter from '../components/ButtonCounter.vue';
import Apples from '../components/Apples.vue';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Apples</title>
	</head>
	<body>

		<h1>Astro and Vue</h1>
		<p>Here we have an Astro project with the Vue integration installed.  Below, we'll use two Vue components within Astro!</p>
		<hr/>
        <Apples soon={true} client:load />
		<hr/>
        <ButtonCounter client:load/>

	</body>
</html>

<style is:global>
body {
  font-family: arial, helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
</style>
