---
import ButtonCounter from '../components/ButtonCounter.vue';
import Apples from '../components/Apples.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Apples</title>
	</head>
	<body>
		<h1>Apples</h1>
        <Apples soon={true} client:load />
		<hr/>
        <ButtonCounter client:load/>

	</body>
</html>
